* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url('../images/2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8vh;
  position: absolute;
  top: 0;
}

.logo {
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem;
}

.logo img {
  height: auto;
  width: 15rem;
  margin-top: 0;
}

nav {
  flex-grow: 1;
  text-align: right;
  padding: 2.8rem;
  list-style-type: none;
}

nav ul {
  list-style-type: none;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a:hover {
  border-color: #fff;
}

.title {
  text-align: center;
  font-size: 6rem;
  font-weight: bold;
  color: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  text-shadow: 
    1px 1px 0 #2b464d, 
    2px 2px 0 #2b464d, 
    3px 3px 0 #2b464d, 
    4px 4px 0 #2b464d, 
    5px 5px 0 #2b464d, 
    6px 6px 0 #2b464d, 
    7px 7px 0 #2b464d, 
    8px 8px 0 #2b464d;
    margin-bottom: 1rem;
}

/* Main Content */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-bottom: 5rem;
}

/* Container */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Item Selection */
.menu {
  display: flex;
  justify-content: center;
  margin: 2.5rem 0;
  flex-wrap: wrap;
  gap: 13rem;
  list-style-type: none;
}

.menu li {
  display: flex;
}

.b-button {
  width: 20rem;
  height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  transition: box-shadow 0.3s ease;
  position: relative;
  border-radius: 3rem;
  text-decoration: none;
}

.b-button img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  margin-bottom: 0rem;
}

.button-text {
  margin-bottom: 3rem;
  text-align: center;
  font-weight: bold;
  color: #2b464d;
  font-size: 20px;
  width: 15rem;
}

.b-button:hover {
  box-shadow: 0px 0px 3rem rgba(0, 0, 0, 0.5);
}

.b-button:active {
  transform: scale(0.95);
  transition: transform 0.1s ease;
}

/* Map Display */
.c_button {
  text-decoration: none;
  padding: 0.5rem 3rem;
  background-color: #2b464d;
  color: white;
  border-radius: 5rem;
  transition: background-color 0.3s ease;
  font-size: 1.25rem;
  border: 0.3rem solid transparent;
  font-weight: 900;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  margin: 1rem;
}

.c_modal {
  display:none;
  background:rgba(0, 0, 0, .8);
  position:fixed;
  left:0;
  top:0;
  height:100%;
  width: 100%;
  margin: auto;
  z-index: 1000;
}

.c_modal:target {
  display:table;
}

.c_modal__dialog {
  display:table-cell;
  vertical-align:middle;
}

.c_modal__content {
  background: #ffffff;
  border-radius: 1rem;
  height: 40rem;
  width: 60rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: slideUp 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c_modal__title {
  padding-left: 10px;
  margin:0;
}

.c_modal__close {
  font-size: 30px;
  color:#161616;
  text-decoration: none;
  position:absolute;
  top: 8px;
  right:18px;
}

@keyframes slideUp {
  from {
    opacity:0;
    bottom: -200px;
  }
  to {
    opacity:1;
    bottom:0;
  }
}

/* Back to Menu Selection Page */
.button-container {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 30px;
  left: 40px;
  gap: 10px;
}

.back {
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 15px;
  border-radius: 20px;
  outline: none;
  border: none;
  background: #2b464d;
  color: #fff;
  transition: background-color 0.3s ease;
}

.back:hover {
  background: #20363b;
}

.back img {
  margin: 1px;
}